apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
spec:
  template:
    spec:
      containers:
        - name: notifications
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 200m
              memory: 512Mi
