apiVersion: apps/v1
kind: Deployment
metadata:
  name: devices
spec:
  template:
    spec:
      containers:
        - name: devices
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 200m
              memory: 512Mi