- op: replace
  path: /spec/template/spec/containers/0/resources
  value:
    requests:
      cpu: "1000m"
      memory: "2Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
- op: replace
  path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
  value: "50Gi"
