resources:
  - namespace.yaml

helmCharts:
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-base
    namespace: istio-system
    includeCRDs: true

  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istiod
    namespace: istio-system
    valuesInline:
      profile: ambient

  - name: cni
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: istio-cni
    namespace: istio-system
    valuesInline:
      profile: ambient

  - name: ztunnel
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.2
    releaseName: ztunnel
    namespace: istio-system
