replicaCount: 3

fullnameOverride: plantsuite-vmq

image:
  repository: plantsuite.azurecr.io/vernemq
  tag: 2.1.1

statefulset:
  imagePullSecrets:
    - "plantsuite-cr"

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 1000m
    memory: 3Gi

podAntiAffinity: hard

persistentVolume:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 5Gi

envFrom:
  - secretRef:
      name: vernemq-env

additionalEnv:
  - name: DOCKER_VERNEMQ_ACCEPT_EULA
    value: "yes"
  - name: DOCKER_VERNEMQ_ALLOW_ANONYMOUS
    value: "off"
  - name: DOCKER_VERNEMQ_PLUGINS__VMQ_PASSWD
    value: "off"
  - name: DOCKER_VERNEMQ_PLUGINS__VMQ_ACL
    value: "off"
  - name: DOCKER_VERNEMQ_PLUGINS__VMQ_DIVERSITY
    value: "on"
  - name: DOCKER_VERNEMQ_VMQ_DIVERSITY__AUTH_POSTGRES__ENABLED
    value: "on"
  - name: DOCKER_VERNEMQ_VMQ_DIVERSITY__POSTGRES__PORT
    value: "5432"
  - name: DOCKER_VERNEMQ_VMQ_DIVERSITY__POSTGRES__SSL
    value: "on"
  - name: DOCKER_VERNEMQ_VMQ_DIVERSITY__POSTGRES__SSL__VERIFY
    value: "verify_none"
  - name: DOCKER_VERNEMQ_VMQ_DIVERSITY__POSTGRES__DATABASE
    value: "vernemq"
  - name: DOCKER_VERNEMQ_VMQ_DIVERSITY__POSTGRES__PASSWORD_HASH_METHOD
    value: "crypt"
  - name: DOCKER_VERNEMQ_SHARED_SUBSCRIPTION_POLICY
    value: "prefer_local"
  - name: DOCKER_VERNEMQ_LEVELDB__MAXIMUM_MEMORY__PERCENT
    value: "10"

service:
  enabled: true
  type: ClusterIP
  mqtt:
    enabled: true
    port: 1883
    nodePort: 1883
  mqtts:
    enabled: false
    port: 8883
    nodePort: 8883
  ws:
    enabled: true
    port: 8080
    nodePort: 8080
  wss:
    enabled: false
    port: 8443
    nodePort: 8443
  api:
    enabled: false
    type: ClusterIP
    port: 8888
    nodePort: 38888

extraVolumeMounts:
  - name: vernemq-auth
    mountPath: vernemq/share/lua/auth/postgres_cockroach_commons.lua
    subPath: "postgres_cockroach_commons.lua"

extraVolumes:
  - name: vernemq-auth
    configMap:
      name: vernemq-auth

pdb:
  enabled: true
  minAvailable: null
  maxUnavailable: 1
