apiVersion: apps/v1
kind: Deployment
metadata:
  name: spc
spec:
  template:
    spec:
      containers:
        - name: spc
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 200m
              memory: 512Mi